<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Kurs İndex Sayfası</h1>
    <p>
        @Model.Id
    </p>
    <p>
        @Model.Title
    </p>
    <p>
        @Model.Description
    </p>
</body>

</html>